
/* Configurações gerais */

* {
    box-sizing: border-box;
}

body {
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("https://sm.ign.com/ign_br/screenshot/default/the-game-awards-2019_8z65.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #eeeeee;
    line-height: 1.6;
}



/* Cabeçalho */

header {
    background-color: rgba(0, 0, 0, 0.75);

    text-align: center;

    padding: 70px 20px;

    border-bottom: 3px solid #f5c400;
}

header h1 {
    font-size: 45px;
    margin-bottom: 15px;

    color: white;

    text-shadow: 0 3px 10px black;
}

header p {
    max-width: 700px;
    margin: auto;

    color: #dddddd;
    font-size: 18px;
}

/* Menu */

nav {
    margin-top: 25px
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f5c400;
}


/* Conteúdo principal */

main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

section > h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}


/* Cards dos jogos */

.jogo {
    background-color: #1d1d1d;
    border: 1px solid #333333;
    border-left: 5px solid #f5c400;
    border-radius: 10px;

    padding: 25px;
    margin-bottom: 25px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    transition: 0.3s;
}

.jogo:hover {
    transform: translateY(-5px);
    border-left-color: #ffffff;
}


/* Ano */

.ano {
    display: inline-block;

    background-color: #f5c400;
    color: #111111;

    padding: 5px 12px;
    border-radius: 20px;

    font-weight: bold;
}


/* Título dos jogos */

.jogo h3 {
    font-size: 26px;
    margin-top: 15px;
    color: #ffffff;
}

.jogo p {
    color: #cccccc;
}


/* Referências */

.referencias {
    background-color: #1d1d1d;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
}

.referencias a {
    display: inline-block;

    background-color: #f5c400;
    color: #111111;

    padding: 10px 20px;

    border-radius: 5px;

    text-decoration: none;
    font-weight: bold;
}

.referencias a:hover {
    background-color: #ffffff;
}


/* Rodapé */

footer {
    text-align: center;
    background-color: #181818;
    color: #888888;

    padding: 25px;
    margin-top: 50px;
}


/* Responsividade para celular */

@media (max-width: 600px) {

    header h1 {
        font-size: 28px;
    }

    main {
        width: 94%;
    }

    .jogo {
        padding: 20px;
    }

    .jogo h3 {
        font-size: 22px;
    }

    nav a {
        display: block;
        margin: 10px;
    }
}
